header {
    background-color: #C9D6DF;
}

.header_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0;
}

.header_navbar_logo {
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.header_navbar_logo_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid;
    background-color: #F0F5F9;
    height: 3em;
    width: 3em;
}

.header_navbar_logo_icon i {
    font-size: 30px;
}

.header_navbar_logo_brand {
    padding: 0 16px;
    font-weight: 700;
}

.header_navbar_site{
    color: var(--grafite);
    font-weight: 700;
    border: 1px solid darkslategray;
    border-radius: 4px;
    padding: 0.5rem;
    transition: all 0.5s;
}

.header_navbar_site:hover{
    color: white;
    border: 1px solid gray;
    background-color: darkslategray;
}

.header_navbar_menu ul {
    display: flex;
    align-items: baseline;
}

.header_navbar_menu ul li {
    margin: 0 15px;
}

.header_navbar_menu ul li a {
}

.header_navbar_menu ul li a:hover {
    color: white;
}

a.active {
    color: white;
    font-weight: bold;
    background: #4b5563;
    border-radius: 4px;
    padding: 10px;
}

