table {
    background-color: #F0F5F9;
    min-width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.23);
    border-collapse: collapse;
    border: 0 solid;
}


th, td {
    padding: 16px;
    border-bottom: 1px solid grey;
    text-align: center;
    vertical-align: middle;
}

td i:hover {
    color: black;
}

table .fa-trash {
    color: red;
}

table .fa-eye {
    color: green;
}

table .fa-pencil {
    color: blue;
}

table img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 0 rgba(0,0,0,0.23);
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    height: 4em;
    width: 4em;
    box-shadow:none;
}


