.main_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.main_page {
    background-color: var(--grafite);
    border-radius: var(--border-radius);
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.main_title h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.main_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: max-content;
}

.main_article {
    display: grid;
    grid-template-rows: 250px 50px minmax(auto,max-content);
    row-gap: 0.4rem;
    align-items: center;
    background: var(--white);
    border-radius: 10px;
    padding: 1rem;
}

.main_article_img img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.main_article_title a {
    font-weight: bold;
    align-self: center;
    color: var(--black);
}

.main_article_desc {
    align-self: start;
    font-size: 0.9rem;
}

.main_article_read {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_article_read a {
    color: var(--black);
    font-weight: bold;
}

.main_article_read a:after {
    display: block;
    content: "";
    height: 3px;
    width: 0;
    background-color: var(--black);
    transition: width 0.3s ease-in-out;
}

.main_article_read a:hover:after, a:focus:after{
    width: 100%;
}

.main_sidebar {
    background-color: var(--gray);
    border-radius: var(--border-radius);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    height: max-content;
}

.main_sidebar_title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.main_sidebar_message {
    background: var(--white);
    padding: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 0.9rem;
}

.main_sidebar_message:last-child {
    margin-bottom: 0;
}

.main_sidebar_img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.main_sidebar_message p {
    margin-left: 1rem;
}

.main_sidebar_more {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
}

.main_sidebar_more i {
    font-size: 1.5rem;
}

.main_sidebar_more a {
    font-size: 1rem;
    color: var(--black);
}

.main_popular {
    background-color: var(--gray);
    border-radius: var(--border-radius);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    grid-column: span 2;
}

.main_popular_title h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.main_popular_articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main_popular_article {
    background: var(--white);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin-right: 1rem;
}

.main_popular_article:last-child {
    margin-right: 0;
}

.main_popular_article_img img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.main_popular_article_title a{
    font-weight: bold;
    color: var(--black);
}

@media screen and (max-width: 1060px) {
    .main_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 1rem;
        column-gap: 0;
    }

    .main_page {
        grid-column: span 2;
    }
}

@media screen and (max-width: 950px) {
    .main_popular_articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .main_popular_article {
        margin-right: 0;
    }
}

@media screen and (max-width: 850px) {
    .main_list {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 650px) {
    .main_popular_articles {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}












